*{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(16,18,24,255);
    font-family: "Lobster";
}

html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(16,18,24,255);
}

body{
    height: 100%;
    width: 100%;
    background-color: rgba(16,18,24,255);
}