*{
    margin: 0;
    padding: 0;
    color: white;
    
    text-align: justify;
}

p{
    margin: 8px;
    font-size: 15px;
}

h2{
    text-align: center;
    color: white;
}

.contPrincipal{
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 0px;
    background-color: rgba(16, 18, 24, 255);
    border-radius: 0px;
    flex-wrap: wrap;
}

.imagen{
    height: 100%;
    width: 50%;
    background-image: url('../../../public/img/small.png');
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: center;
 }
 
 .cont_info{
    height: 100%;
    width: 50%; 
    background-color: rgba(16, 18, 24, 255);
    background-image:url('../../../public/img/chica1.png');
    background-size: cover;
    background-position: center;
 }

 .info{
    height: 100%;
    width: 100%;
  
 }

 .mat-dialog-container {
    border-radius: 0 !important; /* Sin bordes redondeados */
}

.buy-btn{
    border-radius: 15px;
    width: 100px;
    height: 40px;
    background-color: gray;
    text-align: center;
    border: none;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px black;
    cursor:pointer;
}

@media only screen and (max-width:767px) {
    .imagen{
        height: 100%;
        width: 100%;
    }
    .cont_info{
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .custom-modal {
      width: 80vw;
      height: 80vh;
    }
  }