<div class="contPrincipal">
    <div #contImg class="imagen">
        
    </div>
    <div #contInfo class="cont_info">
        <div class="info" *ngIf="productoSeleccionado" >
            <br>
            <h2>{{productoSeleccionado.nombre}}</h2>
            <br>
            <p [innerHTML]="productoSeleccionado.descripcion">
            </p>
            <br>
            <div>
                <button class="buy-btn" (click)="redyWhatsapp()">Buy</button>
            </div>
        </div>
    </div>
</div>

