html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(16,18,24,255);
  }
  
  app-root {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-modal .mat-dialog-container {
  border-radius: 0 !important; /* Elimina el border-radius */
}

button{
  cursor: pointer;
}
